body{
	font-family:arial;
	background-color:22CA17;
}
h1{
	color:white;
	background-color:red;
	text-align:center;
}
img{
	width:40%;
	height:50%;
}
p{
	font-size:22px;
	background-color:D62ED6;
	color:white;
}
ul{
	background-color:193BA7;
	font-size:22px;
	font-family:arial;
	color:white;
}